/*creating navigation bar */
.navbar{
background-color: #5FB3E4;
overflow: hidden;
height: 94px;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; /* Full width */
z-index: 1;
}

/* navigation bar text styling */
.navbar a {
    top: 50%;
    float: right;
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    font-family: Rockwell, sans-serif;
    color: black;
    padding-right: 100px;
}

/*home section */
#home{
margin-top: auto;
text-align: center;
position: relative;
color: black;
}
#homeid{
    opacity: 65%;
}

.header{
font-size: 111px;
font-family: Javanese, sans-serif;
position: absolute;
top: 25%;
left: 50%;
transform: translate(-50%, -50%);
}

.intro{
    font-family: Javanese, sans-serif;
    font-size: 66px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* brand section */
.brandheader{
    font-family: 'Segoe UI', sans-serif;
    font-size: 55px;
    position: absolute;
    top: 175%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#test{
    position: absolute;
    top: 185%;
    
}
/* Products section */
#products{
    padding: 50px;
}
h1{
    position: absolute;
    top: 100%;
    left: 35%;
    color:black;
    font-size: 70px;
    font-family: Microsoft Yahei, sans-serif;
}

table, tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 30px;
    margin: auto;
    }


/* about us section */
#info{
   color: black;
   font-size: 40px;
   font-family: Javanese, sans-serif;
   padding-top: 100px;
}

/* locations section */
#details{
padding-left: 1000px;
justify-content: center;
color: black;
font-size: 35px;
position: absolute;
top: 3650px;

}
